<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>念华</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Files</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent222222</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx1ae6d0a40155672f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>您可以生成二维码，也可以扫描二维码，或者把二维码存入相册分享，扫描与存取时需要访问您的相机。</string>
	<key>NSContactsUsageDescription</key>
	<string>请允许获取通讯录，仅在本机使用，以使用“群发短信”功能</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>请允许定位</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>&quot;距离&quot;功能需要访问您当前地址的经纬度，才能计算出您当前位置与所记录的经纬度之间的距离。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&quot;距离&quot;功能需要访问您当前地址的经纬度，才能计算出您当前位置与所记录的经纬度之间的距离。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>通过本地网络可以将数据库发到其他苹果设备上，实现文件转移和备份</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_Jinzha-Chat._tcp</string>
		<string>_Jinzha-Chat._udp</string>
	</array>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请允许访问相册，以获取图片或存入图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许保存相片到图册，获得您的照片在本地使用</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
